@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@400;500;700&display=swap');

/*объявление переменных*/
:root {
    --color-dark-primary: #102B3E;
    --color-green: #1BC89F;
    --color-grey: #CED8E1;
    --color-title-light: #FFF;
    --color-title: #000;

    --transition: all 400ms;

    --container-width-xl: 1560px;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* font-family: 'Anonymous Pro', monospace; */

head {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background: var(--color-dark-primary);
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    
}

main {
    flex-grow: 1;
}

h1{
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

section > h2{
    text-align: center;
    color: var(--color-title-light);
}

img {
    display: block;
    width: 100% ;
    object-fit: cover;
}

.App  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;

}